<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="renderer" content="webkit" />
		<title>预览报告内容</title>
		<script src="../jquery-1.11.3/jquery.min.js"></script>
	</head>

	<body id="previewBody">
		<div id="printDiv" style="text-align: center; margin-bottom: 30px">
			<button style="color: blue; font-size: 18px" onclick="printReport()">打印报告(建议使用谷歌浏览器!)</button>
		</div>
		<div style="text-align: center; font-size: 30px;">
			<span style="color: blue">仅供预览</span>
		</div>
	</body>

	<script>
		const hostName = window.location.hostname;
		// 网关 api 地址
		const api_pattern = hostName == 'localhost' ? 'dev-api' : 'prod-api';
		const proxyApiUrl = location.origin + '/' + api_pattern;
		const paramMap = getUrlParams(window.location.href);
		const requestDataSourceApi = '/api/report';

		$(function () {
			$('#printDiv').hide();
			getCurrentReportContent();
		});

		// 获取当前报告的报告内容
		function getCurrentReportContent() {
			let previewBody = $('#previewBody');
			// 报告Id
			let reportId = paramMap['reportId'];
			let templateId = paramMap['templateId'];

			// 是报告
			if (reportId) {
				$.ajax({
					url: proxyApiUrl + requestDataSourceApi + '/report-instance',
					method: 'get',
					data: {
						reportId: reportId
					},
					success: function (res) {
						let data = res.data;
						if (!!data) {
							let appendTag = '';
							let reportGenericContext = data.reportGenericContext;
							let reportTemplateContext = data.reportTemplateContext;
							if (reportGenericContext) {
								appendTag += reportGenericContext;
							}
							if (reportTemplateContext) {
								appendTag += reportTemplateContext;
							}
							previewBody.append(appendTag);
						}
						$('#printDiv').show();
					},
					error: function (res) {
						$('#printDiv').show();
					}
				});
			}
			// 不是报告、而是模板
			else if (templateId) {
				$.ajax({
					url: proxyApiUrl + requestDataSourceApi + '/template-instance',
					method: 'get',
					data: {
						templateId: templateId
					},
					success: function (res) {
						let data = res.data;
						if (!!data) {
							let appendTag = '';
							let templateGenericContent = data.templateGenericContent;
							if (templateGenericContent) {
								appendTag += templateGenericContent;
							}
							previewBody.append(appendTag);
						}
						$('#printDiv').show();
					},
					error: function (res) {
						$('#printDiv').show();
					}
				});
			}
		}

		function printReport() {
			$('#printDiv').hide();
			window.print();
			$('#printDiv').show();
		}

		// 获取URL的拼接参数信息
		function getUrlParams(url) {
			// 通过 ? 分割获取后面的参数字符串
			let urlStr = url.split('?')[1];
			// 创建空对象存储参数
			let obj = {};
			// 再通过 & 将每一个参数单独分割出来
			let paramsArr = urlStr.split('&');
			for (let i = 0, len = paramsArr.length; i < len; i++) {
				// 再通过 = 将每一个参数分割为 key:value 的形式
				let arr = paramsArr[i].split('=');
				obj[arr[0]] = arr[1];
			}
			return obj;
		}
	</script>
</html>
